<!DOCTYPE html>
<html>
<!--张静  2018-12-30-->
<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>订单管理</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- 引入angular的js -->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->

	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script src="../js/controller/orderController.js"></script>
	<script src="../js/service/orderService.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="youqugou" ng-controller="orderController" ng-init="searchEntity={status:'3'}">
<!-- .box-body -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">订单发货</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->

			<div class="box-tools pull-right">
				<div class="has-feedback">
					订单编号：<input ng-model="searchEntity.orderIdStr">
					<button class="btn btn-default" ng-click="reloadList()">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
				<tr>
					<th class="" style="padding-right:0px">
						<input id="selall" type="checkbox" class="icheckbox_square-blue">
					</th>
					<th class="sorting_asc">订单ID</th>
					<th class="sorting">订单金额</th>
					<th class="sorting">支付方式</th>
					<th class="sorting">用户id</th>
					<th class="text-center">操作</th>
					<th class="sorting">发货</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="entity in orderList">
					<td><input type="checkbox" ng-click="selectIds($event,entity.orderIdStr)"></td>
					<td>{{entity.orderIdStr}}</td>
					<td>{{entity.payment}}</td>
					<td>{{entity.paymentType==1?"微信":"货到付款"}}</td>
					<td>{{entity.userId}}</td>
					<td class="text-center">
						<button type="button" class="btn bg-olive btn-xs" data-toggle="modal"
								data-target="#sellerModal" ng-click="selectOrderById(entity.orderIdStr)">详情
						</button>
					</td>
					<td class="text-center">
						<button type="button" class="btn bg-olive btn-xs" data-toggle="modal"
								data-target="#editModal" ng-click="findOrderId(entity.orderIdStr)">发货
						</button>
					</td>
				</tr>
				</tbody>
			</table>
			<!--数据列表/-->


		</div>
		<!-- 数据表格 /-->
		<tm-pagination conf="paginationConf"></tm-pagination>

	</div>
	<!-- /.box-body -->




	<!-- 订单详情 -->
	<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">订单详情</h3>
				</div>
				<div class="modal-body">
					<div class="table-title">
						<table class="sui-table  order-table">

						</table>
					</div>
					<!-- 选项卡开始 -->
					<table class="table table-bordered table-striped table-hover dataTable">
						<tbody>
						<tr>
						<thead>
						<th width="30%">宝贝</th>
						<th width="8%">单价</th>
						<th width="8%">数量</th>
						<th width="10%">实付款</th>
						<th width="10%">交易状态</th>
						</thead>
						</tr>
						<tr ng-repeat="orderItem in entity1">
							<td width="30%">
								<div class="typographic">
									<span style="color: #141a1d">{{orderItem.title}}</span>
								</div>
							</td>
							<td width="8%" class="center">
								<span>¥{{orderItem.price}}</span>
							</td>
							<td width="8%" class="center">{{orderItem.num}}</td>
							<td width="10%" class="center">
								<span>{{orderItem.totalFee}}元</span>
							</td>
							<td width="10%" class="center" rowspan="1">
								<a href="http://localhost:9102/admin/orderDetail.html#?id={{orderItem.idStr}}" >订单详情</a>
							</td>

						</tr>

						</tbody>
					</table>
					<!-- 选项卡结束 -->


				</div>
			</div>

		</div>
	</div>

</div>
</body>



<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel2">物流详情</h3>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-striped" width="800px">
					<tr>
						<td>物流名称</td>
						<td><input class="form-control" placeholder="物流名称" ng-model="orderEntity.shippingName"></td>
					</tr>
					<tr>
						<td>物流单号</td>
						<td><input class="form-control" placeholder="物流单号" ng-model="orderEntity.shippingCode"></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>
</html>